@model IEnumerable<DevDash.Models.Dashboard>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DashboardId)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.GitHub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trello)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DashboardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DashboardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitHub.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trello.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
